body {
  background: linear-gradient(180deg, #1F2123 0%, #131517 100%);
}

img {
  max-width: 100%;
}

.token img {
  min-width: 52px;
}

main {
  overflow-x: hidden;
}

@media (min-width: 900px) {
  .token img {
    min-width: 76px;
  }
}
